.tools {
	width: 480px;
	margin: 10px auto;
}

.tools button {
	width: 150px;
	margin: 0 5px;
}

.vocabularies, .crossPlatform {
	margin: 0 15px;
}

.crossPlatform a {
	text-decoration: none;
}

.crossPlatform a:hover {
	font-weight: bold;
	text-decoration: underline;
}