.register {
	width: 410px;
	height: 52px;

	margin: 10px auto;
}

.register .field {
	width: 300px;

	float: left;
}

.register .field #username {
	width: 239px;
}

.register .field #password {
	width: 224px;
}

.register #registerButton {
	width: 100px;
	height: 52px;
	margin-left: 10px;

	float: right;
}

.warning {
	width: 590px;
	margin: 10px auto;
}

.warning strong {
	color: red;
}