.MeaningCard {
	background-color: gainsboro;
	border-radius: 25px;
	padding: 2px 35px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.MeaningCard .pronunciation {
	font-size: 10pt;

	margin-top: 0;
}

.MeaningCard p {
	margin-top: 5px;
	margin-bottom: 0;
}

.MeaningCard .delete {
	float: right;
	color: red;
}

.MeaningCard .delete:hover {
	text-decoration: underline;
}